# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/aisd_labs/Lab1/laba
/aisd_labs/Lab2/laba_list
/aisd_labs/Lab2/laba_vector
/aisd_labs/Lab3a/proba
/aisd_labs/Lab3b/proba
/aisd_labs/Lab4a/proba
/aisd_labs/Lab4b/proba
/aisd_labs/Lab5/proba
/OOP_labs/Lab1/main
/OOP_labs/.vscode

