# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/aisd_labs/Lab1/laba
/aisd_labs/Lab2/laba_list
/aisd_labs/Lab2/laba_vector
*proba
*main
*.vscode
*build
*googletest
*test
*.idea
cmake-build-debug

